
.button {
    padding: 20px;
    width: 100%;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

.button:hover {
   background-color: rgb(71, 71, 71);
}