/* Team.module.css */

.teamWrapper {
    padding: 2rem;
    background-color: #fff;
    text-align: center;
}

.teamBodyWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.teamMembersDetailsWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
    gap: 1rem;
    width: 100%;
    justify-content: center; /* Center align cards */
}

.teamCardWrapper {
    width: 100%;
}

/* Media queries */
@media screen and (max-width: 1024px) {
    .teamMembersDetailsWrapper {
        grid-template-columns: repeat(2, 1fr); /* 2 cards per row on smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .teamMembersDetailsWrapper {
        grid-template-columns: 1fr; /* 1 card per row on mobile screens */
    }
}
