.main {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.description {
    width: fit-content;
    padding-left: 3px;
}

.section {
    width : 35vw;
    /* border: 1px solid grey; */
    min-width: 350px;
}