.HomeWrapper {
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  background: url("./assets/bg1 svg.svg") center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 3vh;
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items to the top */
  justify-content: space-between; /* Add space between the elements */
  margin-top: 10vh;
  position: relative;
  z-index: 9900;
  color: #ffffff;
  width: 80%; /* Adjust the width as needed */
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.textWrapper h1, .textWrapper h2, .textWrapper p {
  margin: 0;
  line-height: 1;
  color: #ffffff;
}

.textWrapper h1 {
  margin-top: 15vh;
  font-size: 5vw;
  font-weight: 400;
}

.textWrapper h2 {
  margin-top: 1vh;
  padding-top: 10px;
  font-size: 1.8vw;
}

.textWrapper p {
  margin-top: 3vw;
  font-size: 1.2vw;
  width: 35vw;
  text-align: left;
}

.contentWrapper img {
  width: 45%;
  margin-bottom: 10vh;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1024px) {
  .contentWrapper {
    flex-direction: column;
    align-items: center; /* Ensure alignment is centered */
  }

  .textWrapper {
    margin-top: -10vh;
    align-items: center; /* Center the text */
    text-align: center; /* Center text alignment */
  }

  .contentWrapper img {
    width: 80%;
    margin-left: 0;
  }

  .textWrapper h1 {
    font-size: 9vw;
  }

  .textWrapper h2 {
    font-size: 4vw;
    margin-top: 2vw;
    margin-bottom: 3vh;
    width: 100%;
  }


  .textWrapper p {
    font-size: 2.4vw;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .textWrapper {
    margin-top: -10vh;
  }

  .textWrapper h1 {
    font-size: 9.5vw;
  }

  .textWrapper h2 {
    font-size: 4vw;
    margin-top: 2vw;
    margin-bottom: 3vh;
    width: 100%;
  }


  .textWrapper p {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 500px) {
  .textWrapper {
    margin-top: -13vh;
  }

  .textWrapper h1 {
    font-size: 9.5vw;
  }

  .textWrapper h2 {
    font-size: 4vw;
    margin-top: 2vw;
    margin-bottom: 3vh;
    width: 100%;
  }

  .contentWrapper img {
    width: 100%; 
    height: auto; 
  }
}

.textWrapper p {
  margin-top: 5vw;
  font-size: 1.3vw;
  width: 25vw;
  text-align: left;
  line-height: 1.5; 
  margin-bottom: 2vw; 
  word-spacing: 0.5vw; 
  font-weight: 10000;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1024px) {
  .textWrapper p {
    font-size: 4vw;
    width: 90%;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 3vw; 
    word-spacing: 1vw; 
  }
}

@media screen and (max-width: 768px) {
  .textWrapper p {
    font-size: 4vw;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 3vw; 
    word-spacing: 1vw; 
  }
}

@media screen and (max-width: 500px) {
  .textWrapper p {
    font-size: 6vw;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 3vw; 
    word-spacing: 1vw;
    font-weight: 100; /* Thin font weight */
  }
}
